html{
  text-align: center;
  font-family: 'Jua', sans-serif;
  background-color: rgba(150, 0, 255, 0.15);
}

h1{
  padding: 30px;
}

img{
  width: 350px;
  height: 350px;
}

.mem{
  position: relative;
  display: inline-block;
  padding: 30px;
}

.middle{
  opacity: 0;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 30%;
  text-align: center;
}

.mem:hover img{
  opacity: 0.2;
}

.mem:hover .middle{
  opacity: 1;
}
